if image
  - let path = (imageable && imageable.path || '')
  .preview-image-container(data-kind="Image" data-ref=image.id)
    a(href= path + '/images/' + image.id data-click="modal" data-target="image-"+image.id)
      img.preview-image(src=image.path)
    if currentUser
      form(action=path +  '/images/' + image.id data-response="json" ).preview-image-overlay.flex.fill
        a.btn(href=path + '/images/' + image.id + '/edit' data-click="modal"): i.fa.fa-wrench
        button.btn(formmethod="delete" title="Delete Photo"): i.fa.fa-trash
