.content
  section.panel
    p #[a(href="/u/kyle" data-click="tab" data-target="main") Kyle] started #{SITE_TITLE} in 2015 as a place to showcase and catalog his designs, illustrations and software, as well as any other disparate projects he may take up in the future. Everything is designed, to some extent, and anything can benefit from the judicious application of good design practices. #{SITE_TITLE} is an exploration of the thoughtful application of design principles in software, art, music, writing, (and virtually anything else) through the lens of some guy who really doesn't know what he's doing, by any stretch of the imagination.

