.flex.horz.pad.center
  each image in images
    .preview-image-container
      a(href= '/images/' + image.id data-click="tab" data-target="main")
        img.preview-image(src=image.path onload="this.classList.remove('loading')").loading
