//- default layout, for most site content
//- navigation: slot for navbar, populated by default navbar component
//- header: the banner at the top of the page, can be small or fullscreen
//- content: main content area
//- footer: footer content (currently unused)
extends /templates/universal

block main
  #modals.modals
  //- block navigation
    include /components/navbar
  #content-wrapper
    //- .overlay
      +characterCard(activeChar)
    block header
      header#header
        if headerImage
          img.header-image(src=headerImage draggable="false")
        //- .header-text OmniGoat
    #content-main&attributes({class: THEME})
      .tab-group
        block navigation
          a.tab(data-click="tab" data-target="main" href="/") Home
          a.tab(data-click="tab" data-target="main" href="/about" data-reload) About
          a.tab(data-click="tab" data-target="main" href="/blog" data-reload) Blog
          a.tab(data-click="tab" data-target="main" href="/portfolio" data-reload) Portfolio
      .tab-pane-group
        #main.tab-pane.active(href=href)
          block content
    block footer
