//- default layout, for most site content
//- navigation: slot for navbar, populated by default navbar component
//- header: the banner at the top of the page, can be small or fullscreen
//- content: main content area
//- footer: footer content (currently unused)
extends /templates/universal

block main
  svg(xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" style="position:absolute")
    filter(id="blurY")
      feGaussianBlur(stdDeviation="0,8" result="blur")
    filter(id="blurX")
      feGaussianBlur(stdDeviation="8,0" result="blur")
    filter(id="blur")
      feGaussianBlur(stdDeviation="8,8" result="blur")
  #modals.modals
  //- block navigation
    include /components/navbar
  #content-wrapper
    //- .overlay
      +characterCard(activeChar)
    block header
      header#header
        if headerImage
          img(src=headerImage draggable="false")
        .header-content
          .header-item
            h1 OmniGoat Design
        //- .header-text OmniGoat
    #content-main&attributes({class: THEME})
      .tab-group
        block navigation
          a.tab(data-click="tab" data-target="main" href="/") Home
          a.tab(data-click="tab" data-target="main" href="/about" data-reload) About
          a.tab(data-click="tab" data-target="main" href="/blog" data-reload) Blog
          a.tab(data-click="tab" data-target="main" href="/portfolio" data-reload) Portfolio
      .tab-pane-group
        #main.tab-pane.active(href=href)
          block content
    block footer
