.markdown {

  code {
    color: @color-primary;
    background: fade(@color-primary, 25%);
    border-radius: 3px;
  }

  pre {
    color: inherit;

    code {
      color: inherit;
      background: none;
      border-radius: inherit;
    }
  }

}
