extends /index

block meta
  //- Add meta information here
  meta(property="og:title"  content=post.title)
  meta(property="og:site_name"  content="Omnigoat Design")
  if post.Images.length >0 
    meta(property="og:image"  content=post.Images[0].path)
  else
    meta(property="og:image" content="/images/header.png")
  meta(property="og:type" content="article")

block content
  include ./_detail
