.modal-dialog
  .modal-content
    .modal-title Welcome Kyle
    .modal-body 
      form(name='signup' action='/signup' method='post')
        .form-group
          input.form-input(type='password' required name='password' placeholder='password' autocomplete='off')
          input.form-input(type='password' required name='confirm' placeholder='confirm' autocomplete='off')
        button.btn.block(type='submit') Access
