extends /index 

block meta
  meta(property="og:title"  content=user.name)
  meta(property="og:site_name"  content="OmniGoat Design")
  if user.Images.length >0 
    meta(property="og:image"  content=user.Images[0].path)
  else
    meta(property="og:image" content="/images/header.png")
  meta(property="og:type" content="profile")

block content
  include ./_profile

